apiVersion: apps/v1
kind: Deployment
metadata:
  name: account-deployment
  namespace: oojob
  labels:
    app: account-svc
  creationTimestamp: null
spec:
  replicas: 2
  selector:
    matchLabels:
      app: account-svc
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: account-svc
    spec:
      serviceAccountName: acccount-service
      containers:
        - name: account-svc
          image: oojob/company:dev
          imagePullPolicy: "Never"
          resources:
            requests:
              cpu: 100m
          ports:
            - name: grpc
              containerPort: 3005
          env:
            - name: DATABASEURI
              value: "host=salt.db.elephantsql.com user=pvhdolsp dbname=pvhdolsp password=WPSXt41F15pPgpTx-0V7CC6Ec5ALoyvL sslmode=disable"
            - name: PORT
              value: 3005
status: {}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: account-svc
  name: account-svc
  namespace: dododuck
spec:
  type: LoadBalancer
  selector:
    app: account-svc
  clusterIP: None
  ports:
    - port: 3005
      targetPort: 3005
      name: grpc
